name: ci_pipe

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  black:
    name: Run black code formatter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5 
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install black

      - name: Run black
        run: black .

  test:
    name: Run all tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install .

      - name: Run tests
        run: pytest

  build:
    name: Build containers
    needs: [black, test] # Garante que o build só ocorra se o CI passar
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and run Docker containers
        run: docker compose up -d --build

      - name: Wait for containers
        run: sleep 30

      - name: Check if API is running
        run: curl -f http://localhost:8000/ || exit 1

      - name: Check if MLflow is running
        run: curl -f http://localhost:5000/ || exit 1

      - name: Show Container Logs on Failure
        if: failure()
        run: |
          docker compose logs

      - name: Tear down
        if: always() # Garante que os containers parem mesmo se o curl falhar
        run: docker compose down

  deploy:
    name: Deploy to EC2
    needs: [black, test, build] # Garante que o deploy só ocorra se o CI passar
    runs-on: ubuntu-latest

    steps:

    - name: Checkout the files
      uses: actions/checkout@v3

    - name: Copy files to EC2
      uses: easingthemes/ssh-deploy@main
      env:
        SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
        ARGS: "-rltgoDzvO --delete"
        SOURCE: "./"
        REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
        REMOTE_USER: ${{ secrets.REMOTE_USER }}
        TARGET: "/home/ubuntu/app"

    - name: Run Docker Compose on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.REMOTE_HOST }}
        username: ${{ secrets.REMOTE_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/ubuntu/app
          docker compose down
          docker compose up -d --build


  